::-moz-placeholder
:-moz-placeholder


thead tr td {
  font-weight: bold;
  font-size: :16px;
}
.btn {
  margin : 5px;

}
select {
  width : 100%;
}
a, td, p{
  font-weight : bold;
  font-size: 16px;
}
.staff {
  width: 100px;
}
.add {
  width: 40%;
}
.staff_detail tr td{
  opacity: 0.6;
}

.change {
  margin-top: 10px;
}

input {
  margin-left: 15px;
  margin-right: 15px;
  padding: 10px;
  width: 100%;
}
p {
  margin-left: 15px;
  margin-right: 15px;
}
.change button {
  margin-left: 15px;
  margin-right: 15px;
  width: 100%;
}
#push {
  color: green;
  margin-top: 10%;
}
select {
  margin-left: 15px;
  margin-right: 15px;
}
#reports tbody td {
  font-weight: normal;
  opacity: 0.7;
}
.project_title {
  opacity: 0.6;
  background-color: #b4cccc;
}
#data {
  margin: 0px;
  width: auto;
}
.select2-container--default .select2-selection--multiple {

  margin-right: 10px;
  margin-bottom: : 10px;
  width:100%;
  padding: 10px;
  border-radius: 0px;


}
.reports_all .col-xs-10 {
  margin:10px;
}

.reports_all input{
  margin-left: 0px;
}

#del {
  background-color: red;
}

#message {
  font-size: 14px;
  font-weight: normal;
  color:#ff0000;
}
#back {
  background-color: gainsboro;
}
.nav li a {
  padding: 15px 10px;
  font-size: 15px;
}
#start {
  background-color: #06ba84;
  width: 260px;
  font-size: 16px;
  font-weight: bold;
}
#end {
  background-color: #f0738a;
  width: 260px;
  font-size: 16px;
  font-weight: bold;
}
