{% extends "managing/base.html" %}
{% block head %}


	<link href="https://cdn.datatables.net/1.10.23/css/jquery.dataTables.min.css">
	<link href="https://cdn.datatables.net/rowreorder/1.2.7/css/rowReorder.dataTables.min.css">
	<link href="https://cdn.datatables.net/responsive/2.2.6/css/responsive.dataTables.min.css">

	<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
	<script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
	<script src="https://cdn.datatables.net/rowreorder/1.2.7/js/dataTables.rowReorder.min.js"></script>
	<script src="https://cdn.datatables.net/responsive/2.2.6/js/dataTables.responsive.min.js"></script>

{% endblock %}

{% block h1 %}
<div class="col-md-4">
	<h1>Завершенные смены работников</h1>
	</div>

{% endblock %}
{%block content %}

<table id="example" class="table table-striped display nowrap" style="width:100%">
    <thead>

     <tr>
       <td>Дата</td>
       <td>Работник</td>
       <td>Название проекта</td>
       <td>Начало</td>
       <td>Окончание</td>
       <td>Кол-во часов</td>
			 <td>Ставка на дату </td>
      </tr>
      </thead>
      <tbody>
         {% for graphik in shifts  %}
        <tr>
          <td><time datetime={{graphik.work_date}} type="date"> {{ graphik.work_date }} </time></td>
          <td><a href='/managing/{{ graphik.unit_name.id }}/graphchange/'>{{ graphik.unit_name }}</a></td>
          <td>{{ graphik.name_project }} </td>
          <td type="time">{{ graphik.start_work }}</td>
          <td type="time">{{ graphik.stop_work }}</td>
          <td>{{ graphik.unit_hours_day_amount }}</td>
					<td>{{ graphik.unit_hour_salary }}</td>
        </tr>
				{% endfor %}

</tbody>
</table>
<script>
	$(document).ready(function() {
	var table = $('#example').DataTable( {
			paging: false,
			rowReorder: {
					selector: 'td:nth-child(2)'
			},
			responsive: true
	} );
} );
</script>


{% endblock %}
