<!DOCTYPE html>
<html lang="ru">
<head>
  {% load static %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src='https://code.jquery.com/jquery-3.5.1.js'></script>
  <script src='https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js'></script>
  <script src='https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js'></script>
  {% block head %}{% endblock %}

  <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
  <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
  <link type='text/css' rel="stylesheet" href="{% static 'css/style.css' %}">

</head>
<body class=" app-managing model-graphik change-form"
  data-admin-utc-offset="10800">
  {% block nav %}
  <nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
    <!--  <a class="navbar-brand" href="/managing/general/">Администратор</a>-->
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/managing/general/">Главная</a></li>
        <li><a href='/managing/staff_list/'>Список работников</a></li>
        <li><a href='/managing/projects_list/'>Список проектов</a></li>
      	<li><a href='/managing/all_graphiks/'>Завершенные смены</a></li>
      	<li><a href='/managing/sessions/'>Активные сессии</a></li>
      	<li><a href='/managing/reports/'>Отчеты</a></li>
      </ul>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

  {% endblock %}

<div class="container">

  <div class="row">
   <div class='col-md-12 col-sm-12 col-xs-12'>
	   {% block h1 %}{% endblock %}
  </div>

  </div>
  <div class="row">
    <div class='col-md-12 col-sm-12 col-xs-12'>
  {% block content %}{% endblock %}
</div>
</div>
</div>
</body>
</html>
