{% extends "managing/base.html" %}
{% block h1 %}
	  <h1> Панель управления</h1>
{% endblock %}

{%block content %}


<table id="example" class="table table-striped">

      <tr>

        <td><a href='/managing/staff_list/'>Список работников</a></td>

			</tr>
		  <tr>
				<td><a href='/managing/projects_list/'>Список проектов</a></td>

			</tr>
			<tr>
				<td><a href='/managing/all_graphiks/'>Завершенные смены работников</a></td>

			</tr>
			<tr>
				<td><a href='/managing/sessions/'>Активные рабочие сессии</a></td>

			</tr>
			<tr>
				<td><a href='/managing/reports/'>Отчеты</a></td>

      </tr>

  </table>


{% endblock %}
