{% extends "managing/base.html" %}
  {% block head %}


    <link href="https://cdn.datatables.net/1.10.23/css/jquery.dataTables.min.css">
    <link href="https://cdn.datatables.net/rowreorder/1.2.7/css/rowReorder.dataTables.min.css">
    <link href="https://cdn.datatables.net/responsive/2.2.6/css/responsive.dataTables.min.css">

    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/rowreorder/1.2.7/js/dataTables.rowReorder.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.7/js/dataTables.responsive.min.js"></script>

	{% endblock %}

{% block h1 %}
<div class="col-md-4">
  <h2>Завершенные рабочие смены</h2>
	<h3> {{ staff.unit_name }} </h3>
	</div>

{% endblock %}
{%block content %}


<form action='' method='post'>
      {% csrf_token %}
<table id="example" class="table table-striped display nowrap" style="width:100%">
    <thead>

     <tr>
       <td>Дата</td>
       <td>Название проекта</td>
       <td>Начал</td>
       <td>Закончил</td>
       <td></td>
       <!-- <td>Количество отработанных часов</td> -->
      </tr>
      </thead>
      <tbody>
         {% for date in working_shifts  %}
        <tr>
          <td> {{ date.work_date }} </td>
          <td> {{ date.name_project }} </td>
          <td>
            <input id ='data' type="time" name="start_{{date.id}}" value="{{ date.start_work }}">
          </td>
          <td>
            <input id ='data' type="time" name="stop_{{date.id}}" value="{{ date.stop_work }}">
          </td>
          <!-- <td>{{ date.unit_hours_day_amount }}</td> -->
          <td>
						<input id='hidden_in' name="id_{{date.id}}" value="{{date.id}}" hidden>
						<button type="submit" name="save_{{date.id}}" class="btn btn-primary">Сохранить</button>
          </td>
        </tr>
      {% endfor %}
</tbody>
</table>
</form>
<script>
	$(document).ready(function() {
	var table = $('#example').DataTable( {
			paging: false,

	} );
} );
</script>
{% endblock %}
