{% extends "managing/base.html" %}
{% block h1 %}
	  <h1> Выполните вход </h1>
{% endblock %}
{% block nav %}
-

{% endblock %}
{%block content %}
<div class='container'>
<div class='row'>
<div class='col-md-3'>


<form action='' method='post'>
      {% csrf_token %}
  <div class="form-group">
    <label for="username">Имя пользователя</label>
    <input type="text" class="form-control" id="username" placeholder="Username" name='username'>
  </div>
  <div class="form-group">
    <label for="password">Пароль</label>
    <input type="password" class="form-control" id="password" placeholder="Password" name='password'>
  </div>
  <button type="submit" class="btn btn-primary">Войти</button>
</form>
</div>
</div>
</div>
{% endblock %}
