{% extends "managing/base.html" %}
{% block h1 %}
	  <h1> Данные проекта</h1>

{% endblock %}

{%block content %}

<table id="example" class="table">

      <tr>

        <td>Название проекта</td>
        <td>{{ project.name_project}}</td>
      </tr>
      <tr>
        <td>Адрес  проекта</td>
        <td>{{ project.address_object}}</td>
      </tr>
      <tr>
        <td>Куратор  проекта</td>
        <td>{{ project.curator_project}}</td>
      </tr>
      <tr>
        <td>Главный архитектор</td>
        <td>{{ project.gen_architector}}</td>
      </tr>
      <tr>
        <td>Период работы над проектом</td>
        <td>{{ project.start_project}} - {{project.end_project}}</td>
      </tr>
      <tr>
        <td>Часы работы объекта</td>
        <td>{{ project.start_time}} - {{project.end_time}}</td>
      </tr>
      <tr>
        <td>Персонал проекта</td>
        <td>
        {% for unit in staff_statuses %}
                <p>{{ unit.0.unit_name }} - {{ unit.1 }}</p>
        {% endfor %}
      </td>
      </tr>



  </table>

	</div>


{% endblock %}
