{% extends "managing/base.html" %}


{% block h1 %}
<div class='col-md-12'>
<a href='/managing/projects_list/' class="btn btn-secondary" id='back' role="button">Вернуться назад</a>
</div>
<div class="col-md-12">
  <h1> Редактирование проекта</h1>
</div>
<div class="col-md-4">
  {% if push %}
  <p id="push"> {{push}}</p>
  {% endif %}
</div>
{% endblock %}

{%block content %}

<form action='' method='post'>
      {% csrf_token %}

      <div class='row change'>
      	<div class='col-md-3 col-xs-10'>
          <p>Название проекта</p>
        </div>
        <div class='col-md-4 col-xs-10'>
          <input type="text" name="name_project" value="{{ project.name_project}}">
        </div>
      </div>
      <div class='row change'>
      	<div class='col-md-3 col-xs-10'>
          <p>Адрес  проекта</p>
        </div>
        <div class='col-md-4 col-xs-10'>
          <input type="text" name="address_object" value="{{ project.address_object}}">
        </div>
      </div>
      <div class='row change'>
      	<div class='col-md-3 col-xs-10'>
          <p>Куратор  проекта</p>
        </div>
        <div class='col-md-4 col-xs-10'>
          <!-- <input type="text" name="curator_project" value="{{ project.curator_project}}"> -->
          <select class="form-control" name="curator_project">
            <option name="{{ project.curator_project}}" selected hidden>{{ project.curator_project}}</option>
            {% for unit in all_unit_list %}
            <option name="{{unit.unit_name}}">{{unit}}</option>
            {% endfor %}
          </select>
        </div>
      </div>
      <div class='row change'>
      	<div class='col-md-3 col-xs-10'>
          <p>Главный архитектор</p>
        </div>
        <div class='col-md-4 col-xs-10'>
          <!-- <input type="text" name="gen_architector" value="{{ project.gen_architector}}"> -->
          <select class="form-control" name="gen_architector">
            <option name="{{ project.gen_architector}}" selected hidden>{{ project.gen_architector}}</option>
            {% for unit in all_unit_list %}
            <option name="{{unit.unit_name}}">{{unit}}</option>
            {% endfor %}
          </select>
        </div>
      </div>
      <div class='row change'>
      	<div class='col-md-3 col-xs-10'>
          <p>Дата начала проекта</p>
        </div>
        <div class='col-md-4 col-xs-10'>
          <input  type="date" name="start_project" value="{{ first_date }}" lang="ru">
        </div>
      </div>
      <div class='row change'>
      	<div class='col-md-3 col-xs-10'>
          <p>Дата окончания проекта</p>
        </div>
        <div class='col-md-4 col-xs-10'>
          <input type="date" placeholder="dd/mm/yyyy" name="end_project" value="{{ end_date}}">
        </div>
      </div>
      <div class='row change'>
      	<div class='col-md-3 col-xs-10'>
          <p>Время открытия объекта</p>
        </div>
        <div class='col-md-4 col-xs-10'>
          <input type="time" name="start_time" value="{{ first_time }}">
        </div>
      </div>
      <div class='row change'>
      	<div class='col-md-3 col-xs-10'>
          <p>Время закрытия объекта</p>
        </div>
        <div class='col-md-4 col-xs-10'>
          <input type="time" name="end_time" value="{{ end_time }}">
        </div>
      </div>
      <div class='row change'>
      	<div class='col-md-3 col-xs-10'>
          <p>Персонал проекта</p>
        </div>
        <div class='col-md-4 col-xs-10'>
          {% for unit in units %}
            <div class='col-md-3 col-xs-3'>
              <input type="checkbox" id={{unit.id}} name='staff_list' value={{unit}} checked disabled=True>
            </div>
            <div class='col-md-4 col-xs-7'>
                <label for={{unit.id}}> {{unit}}</label>
            </div>
            <div class='col-md-5'>
              <div class="form-group">
                 <select class="form-control" name="status">
                   <option name="no_data" selected hidden>{{unit.status}}</option>
                   <option name="active">Активный</option>
                   <option name="negative">Неактивный</option>
                   <option name="temp">Временно неактивный</option>
                   <option name='health'>Болеет</option>
                 </select>
               </div>
              </div>
          {% endfor %}
        </div>
      </div>
      <div class='row change'>
        <div class='col-md-3 col-xs-10'>
          <p>Свободный персонал</p>
        </div>
        <div class='col-md-4 col-xs-10'>
          {% if list_of_available %}
            {% for unit in list_of_available %}

              <div class='col-md-3'>
                <input type="checkbox" id={{unit.id}} name='staff_added' value={{unit.id}}>
              </div>
              <div class='col-md-4 col-md-offset-0 col-xs-7 col-xs-offset-5'>
                  <label for={{unit.id}} name={{unit.id}}> {{unit.unit_name}} </label>
              </div>
              <div class='col-md-5'>
                <div class="form-group">
                   <select class="form-control" name="status_added" readonly>
                     <option name="no_data" selected hidden disabled>Не выбран</option>
                     <option name="active" hidden>Активный</option>
                     <option name="negative" hidden>Неактивный</option>
                     <option name="temp" hidden>Временно неактивный</option>
                     <option name='health' hidden>Болеет</option>
                   </select>
                 </div>
              </div>
            {% endfor %}
            {% endif %}
        </div>

      </div>
      <div class='row change'>
      	<div class='col-md-3 col-xs-10'>
          <button type="submit" name="save" class="btn btn-primary">Сохранить</button>
        </div>
        <div class='col-md-3 col-xs-10'>
          <button type="submit" name="del" class="btn btn-primary" id='del'>Завершить проект</button>
        </div>
      </div>

</form>
{% endblock %}
