{% extends "managing/base.html" %}


{% block h1 %}
<div class='col-md-12'>
<a href='/managing/projects_list/' class="btn btn-secondary" id='back' role="button">Вернуться назад</a>
</div>
<div class='col-md-12'>
<h1> Создание проекта {{project.id}}</h1>
</div>
{% endblock %}

{%block content %}
{%if message%}
<div class='col-md-12'>
<p id='message'>{{ message }}</p>
</div>
<div class='col-md-12'>
<ul>
  {% for error in errors %}
    <li><p id='message'>{{ error }}</p></li>
{% endfor %}
</ul>
</div>
{%endif%}
<form action='' method='post'>
      {% csrf_token %}

  <div class='row change'>
  	<div class='col-md-3 col-xs-10'>
        <p>Название проекта</p>
    </div>
    <div class='col-md-4 col-xs-10'>
      <input type="text" name="name_project" value="{{ name_project }}">
    </div>
  </div>
  <div class='row change'>
  	<div class='col-md-3 col-xs-10'>
        <p>Адрес  проекта</p>
      </div>
      <div class='col-md-4 col-xs-10'>
        <input type="text" name="address_object" value="{{ address_object }}">
    </div>
  </div>
  <div class='row change'>
  	<div class='col-md-3 col-xs-10'>
        <p>Куратор  проекта</p>
      </div>
      <div class='col-md-4 col-xs-10'>
        <select class="form-control" name="curator_project">
          {% if curator %}
          <option name="curator" selected hidden>{{ curator }}</option>
          {% else %}
          <option name="no_data" selected disabled hidden>Выберите из списка</option>
          {% endif %}
          {% for unit in all_unit_list %}
          <option name="{{unit.unit_name}}">{{unit}}</option>
          {% endfor %}
        </select>
        <!-- <td><input type="text" name="curator_project" value="{{ project.curator_project}}"></td> -->
      </div>
    </div>
    <div class='row change'>
    	<div class='col-md-3 col-xs-10'>
        <p>Главный архитектор</p>
      </div>
      <div class='col-md-4 col-xs-10'>
        <select class="form-control" name="gen_architector">
          {% if architector %}
          <option name="curator" selected hidden>{{ architector }}</option>
          {% else %}
          <option name="no_data" selected disabled hidden>Выберите из списка</option>
          {% endif %}
          {% for unit in all_unit_list %}
          <option name="{{unit.unit_name}}">{{unit}}</option>
          {% endfor %}
        </select>

        <!-- <td><input type="text" name="gen_architector" value="{{ project.gen_architector}}"></td> -->
      </div>
    </div>
    <div class='row change'>
    	<div class='col-md-3 col-xs-10'>
        <p>Дата начала проекта</p>
      </div>
      <div class='col-md-4 col-xs-10'>
        <input type="date" name="start_project" value="{{ start_project }}">
      </div>
    </div>
    <div class='row change'>
    	<div class='col-md-3 col-xs-10'>
        <p>Дата окончания проекта</p>
      </div>
      <div class='col-md-4 col-xs-10'>
        <input type="date" name="end_project" value="{{ end_project }}">
      </div>
    </div>
    <div class='row change'>
    	<div class='col-md-3 col-xs-10'>
        <p>Время открытия объекта</p>
      </div>
      <div class='col-md-4 col-xs-10'>
        <input type="time" name="start_time" value="{{ start_time }}">
      </div>
    </div>
    <div class='row change'>
    	<div class='col-md-3 col-xs-10'>
          <p>Время закрытия объекта</p>
        </div>
        <div class='col-md-4 col-xs-10'>
          <input type="time" name="end_time" value="{{ end_time }}">
        </div>
      </div>

      <div class='row change'>
        <div class='col-md-3 col-xs-10'>
          <p>Свободный персонал</p>
        </div>
        <div class='col-md-4 col-xs-10'>
          {% if list_of_available %}
            {% for unit in list_of_available %}

              <div class='col-md-3'>
                <input type="checkbox" id={{unit.id}} name='staff_added' value={{unit.id}}>
              </div>
              <div class='col-md-4 col-md-offset-0 col-xs-7 col-xs-offset-5'>
                  <label for={{unit.id}} name={{unit.id}}> {{unit.unit_name}} </label>
              </div>
              <div class='col-md-5'>
                <div class="form-group">
                   <select class="form-control" name="status_added" readonly>
                     <option name="no_data" selected hidden disabled>Не выбран</option>
                     <option name="active" hidden>Активный</option>
                     <option name="negative" hidden>Неактивный</option>
                     <option name="temp" hidden>Временно неактивный</option>
                     <option name='health' hidden>Болеет</option>
                   </select>
                 </div>
              </div>
            {% endfor %}
            {% endif %}
        </div>

      </div>
  <div class='row change'>
    <div class='col-md-3 col-xs-10'>
      <button type="submit" name="save" class="btn btn-primary">Сохранить</button>
      </div>
    </div>
</form>
{% endblock %}
