{% extends "managing/base.html" %}
{% block head %}


	<link href="https://cdn.datatables.net/1.10.23/css/jquery.dataTables.min.css">
	<link href="https://cdn.datatables.net/rowreorder/1.2.7/css/rowReorder.dataTables.min.css">
	<link href="https://cdn.datatables.net/responsive/2.2.6/css/responsive.dataTables.min.css">

	<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
	<script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
	<script src="https://cdn.datatables.net/rowreorder/1.2.7/js/dataTables.rowReorder.min.js"></script>
	<script src="https://cdn.datatables.net/responsive/2.2.6/js/dataTables.responsive.min.js"></script>

{% endblock %}
{% block h1 %}
	  <h1> Список проектов</h1>

				<a class="btn btn-primary add" href='/managing/project_add/' role='button'>Создать новый</a>
{% endblock %}

{%block content %}

<table id="example" class="table table-striped display nowrap" style="width:100%">
    <thead>
      <tr>
	      <td>Название</td>
				<td>Адрес</td>
				<td>Дата начала</td>
				<td>Дата окончания</td>
				<td>Длительность</td>


      </tr>
    </thead>
    <tbody>
  {% for project in projects %}
      <tr>
				{% if project.flag %}
        	<td><span class="glyphicon glyphicon-ok" aria-hidden="true" style='color:green'></span><a href='/managing/{{project.id}}/project/project_change/'>{{ project.name_project}}</a></td>
				{% else %}
					<td><span class="glyphicon glyphicon-remove" aria-hidden="true" style='color:green'></span><a href='/managing/{{project.id}}/project/project_change/'>{{ project.name_project}}</a></td>
				{% endif %}
				<td>{{ project.address_object}}</td>
				<td>{{ project.start_project }}</td>
				<td>{{ project.end_project }}</td>
				<td>{{ project.amount }} дней</td>

				<!-- <td><a class="btn btn-primary staff" href='/managing/{{object.id}}/project/project_change/' role='button'>Изменить</a></td> -->
				<!-- <td><a class="btn btn-primary staff" href='' role='button'>Отчет </a></td> -->

      </tr>
     {% endfor %}
    </tbody>
  </table>
	<script>
		$(document).ready(function() {
		var table = $('#example').DataTable( {
				paging: false,
				rowReorder: {
						selector: 'td:nth-child(2)'
				},
				responsive: true
		} );
	} );
	</script>
{% endblock %}
