{% extends "managing/base.html" %}
{% block head%}
  <link rel="stylesheet" href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
  <script src="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
{% endblock %}
{% block h1 %}

<div>
<a href='/managing/{{staff.id}}/staff/' class="btn btn-secondary" id='back' role="button">Вернуться назад</a>
</div>
<div>

	<h2>История работы</h2>
	</div>


{% endblock %}
{% block nav %}
-
{% endblock %}
{%block content %}

<form action='' method='post'>
      {% csrf_token %}

<table id="reports" class="table">
  <thead>
      <tr>

        <td>Проект</td>
        <td>Даты работы проекта</td>
        <td>Кол-во отработанных часов на проекте</td>
        <td>Общая сумма</td>
      </tr>
  </thead>


  <tbody>

    {% for project in report%}
      <tr>
        <td>{{ project.project }}</td>
        <td>{{ project.date }}</td>
        <td>{{ project.hours }}</td>
        <td>{{ project.amount }}</td>
      </tr>
    {% endfor %}

    </tbody>


		<script>
			$(document).ready(function() {
			var table = $('#reports').DataTable( {
					paging: false,
					rowReorder: {
							selector: 'td:nth-child(2)'
					},
					responsive: true
			} );
		} );
		</script>

{% endblock %}
