{% extends "managing/base.html" %}
{% block head%}
  <link rel="stylesheet" href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
  <script src="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>

{% endblock %}

{% block h1 %}

  <h1>Отчеты</h1>

<form action='' method='post'>
      {% csrf_token %}
<div class="row reports_all">

<div class='col-md-2 col-xs-10'>
  <select class="js-example-placeholder-multiple" name="projects_list[]" multiple="multiple">
  {% for project in projects_list %}
  {% if project.flag %}
    <option value="{{project.name_project}}">{{project.name_project}}</option>
  {% else %}
    <option value="{{project.name_project}}">{{project.name_project}}</option>
  {% endif %}
  {% endfor %}
  </select>

 </div>
 <div class='col-md-2 col-xs-10'>
   <select class="js-example-basic-multiple" name="staff_list[]" multiple="multiple"'>
   {% for unit in staff_list %}
   <option value="{{unit.unit_name}}">{{unit.unit_name}}</option>
   {% endfor %}
   </select>

  </div>

  <div class='col-md-2 col-xs-10'>

    <input type="date" name="date_start" id="date_start" value="{{ date_first_mounth_day }}" >

   </div>
   <div class='col-md-2 col-xs-10'>

     <input type="date" name="date_end" id="date_end" value="{{ date_end_mounth_day }}">

    </div>

      <div class='col-md-2 col-xs-10'>

      <button type="submit" name="create" class="btn btn-primary">Сформировать</button>
      </div>
      {% if error%}
      <div class='col-md-12'>
      <p>{{ error }}</p>
      </div>
      {% endif%}
      </div>



{% endblock %}
{%block content %}

<form action='' method='post'>
      {% csrf_token %}

<table id="reports" class="table">
  <thead>
      <tr>

        <td>Проект</td>
        <td>Сроки проекта</td>
        <td>Работник / Итог</td>
        <td>Кол-во часов</td>
        <td>Сумма рублей</td>
        <td>Статус проекта</td>
      </tr>
  </thead>

  <!--/цикл по проектам/-->
  {% for project in report%}

  <thead class='project_title'>
      <tr>
        <td>{{ project.project_name}}</td>
        <td>{{ project.interval }}</td>
        <td>Итого по проекту</td>
        <td>{{ project.hours_amount}}</td>
        <td>{{ project.salary_amount}}</td>
        <td> {{ project.flag }} </td>
      </tr>
  </thead>
  <tbody>
    <!--/цикл по сотрудникам/-->
    {% for staff in project.units%}
      <tr>
        <td></td>
        <td></td>
        <td>{{ staff.unit_name }}</td>
        <td>{{ staff.hours_amount }}</td>
        <td>{{ staff.salary_amount }}</td>
        <td></td>
      </tr>
    {% endfor %}
<!--/end/-->
    </tbody>

{% endfor %}
<!--/цикл по проектам заканчивается/-->
<script>
  $(document).ready(function() {

    $('.js-example-placeholder-multiple').select2({
      placeholder: 'Все проекты'
    });
    $('.js-example-basic-multiple').select2({
      placeholder: 'Все сотрудники'
    });

  } );
</script>

{% endblock %}
