{% extends "managing/base.html" %}


{% block h1 %}
<div class="col-md-4">
	<h1>Активные рабочие сессии</h1>
	</div>

{% endblock %}
{%block content %}

<table id="example" class="table  table-striped">
    <thead>

     <tr>
       <td>Дата</td>
       <td>Время начала</td>
       <td>Работник</td>
       <td>Проект</td>
      </tr>
      </thead>
      <tbody>
         {% for graphik in graphiks  %}
        <tr>
          <td>{{ graphik.work_date }} </td>
          <td>{{ graphik.start_work }}</a></td>
          <td>{{ graphik.unit_name }} </td>
          <td>{{ graphik.name_project }}</td>
        </tr>
{% endfor %}

</tbody>
</table>



{% endblock %}
