{% extends "managing/base.html" %}
  {% block head %}


    <link href="https://cdn.datatables.net/1.10.23/css/jquery.dataTables.min.css">
    <link href="https://cdn.datatables.net/rowreorder/1.2.7/css/rowReorder.dataTables.min.css">
    <link href="https://cdn.datatables.net/responsive/2.2.6/css/responsive.dataTables.min.css">

    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/rowreorder/1.2.7/js/dataTables.rowReorder.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.6/js/dataTables.responsive.min.js"></script>

	{% endblock %}
{% block h1 %}
	  <h1>Список работников</h1>

		<a class="btn btn-primary add" href='/managing/staff_detail/add/' role='button'>Создать нового</a>

{% endblock %}

{% block content %}


<table id="example" class="table table-striped display nowrap" style="width:100%">
    <thead>
      <tr>

        <td>ФИО</td>
				<td>Должность</td>
				<td>Почасовая ставка</td>
				<td>ЗП постоянная</td>
				<td>Объект</td>


      </tr>
    </thead>
    <tbody>
    {% for unit in staff %}
      <tr>
        <td><a href='/managing/{{unit.id}}/staff_detail/change/'>{{unit.unit_name}}</a></td>
				<td>{{unit.unit_position}}</td>
				<td>{{unit.unit_salary}}</td>
				<td>{{unit.unit_mounth_salary}}</td>
				{% if unit.project %}
				<td>{{unit.project}}</td>
				{% else %}
				<td>-</td>
				{% endif %}
				<!-- <td><a class="btn btn-primary staff" href='/managing/{{unit.id}}/staff_detail/change/' role='button'>Изменить</a></td> -->
				<!-- <td><a class="btn btn-primary staff" href='/managing/{{unit.id}}/staff_detail/report/' role='button'>Отчет </a></td> -->

      </tr>
     {% endfor %}

    </tbody>
  </table>
	<script>
		$(document).ready(function() {
    var table = $('#example').DataTable( {
        paging: false,
        rowReorder: {
            selector: 'td:nth-child(2)'
        },
        responsive: true
    } );
} );
</script>

{% endblock %}
