{% extends "managing/base.html" %}


{% block h1 %}
<div class='col-md-12'>
<a href='/managing/staff_list/' class="btn btn-secondary" id='back' role="button">Вернуться назад</a>
</div>
<div class="col-md-4">
	<h1>Работник {{ staff.unit_name }}</h1>
	</div>
	<div class="col-md-4">
		{% if push %}
		<p id="push"> {{push}}</p>
		{% endif %}
	</div>

{% endblock %}
{%block content %}
<form action='' method='post'>
      {% csrf_token %}
<div class='row change'>
	<div class='col-md-3 col-xs-10'>
		<p>ФИО</p>
	</div>
	<div class='col-md-3 col-xs-10'>
    <input type="text" name="unit_name" value="{{ staff.unit_name}}">
  </div>
</div>
<div class='row change'>
	<div class='col-md-3 col-xs-10'>
    <p>Должность</p>
	</div>
	<div class='col-md-3 col-xs-10'>
    <input type="text" name="unit_position" value="{{ staff.unit_position}}">
  </div>
</div>
<div class='row change'>
	<div class='col-md-3 col-xs-10'>
    <p>Ставка</p>
	</div>
	<div class='col-md-3 col-xs-10'>
    <input type="text" name="unit_salary" value="{{ staff.unit_salary}}">
	</div>
</div>
<div class='row change'>
	<div class='col-md-3 col-xs-10'>
    <p>Месячная заработная плата</p>
	</div>
	<div class='col-md-3 col-xs-10'>
    <input type="text" name="unit_mounth_salary" value="{{ staff.unit_mounth_salary}}">
	</div>
</div>
{% if staff.project %}
<div class='row change'>
	<div class='col-md-3 col-xs-10'>
    <p>Текущий проект</p>
	</div>
	<div class='col-md-3 col-xs-10'>
    <input type="text" name="staff_project" value="{{ staff.project }}" readonly>
	</div>
</div>

<div class='row change'>
	<div class='col-md-3 col-xs-10'>
    <p>Статус на проекте</p>
	</div>
	<div class='col-md-3 col-xs-10'>
		<div class="form-group">
			 <select class="form-control" name="status" id="staff_project_change">
				 <option name="no_data" selected hidden>{{ staff.status_project }}</option>
				 <option name="active">Активный</option>
				 <option name="negative">Неактивный</option>
				 <option name="temp">Временно неактивный</option>
				 <option name='health'>Болеет</option>
			 </select>
		 </div>
	</div>
</div>
{% else %}
<div class='row change'>
	<div class='col-md-3 col-xs-10'>
    <p>Текущий проект</p>
	</div>
<div class='col-md-3 col-xs-10'>
	<select class="form-control" name="projects" id="staff_project_change">
		<option name="change" selected hidden>{{ staff.project_change }}</option>
		{% for project in projects %}
		<option name="{{project.name_project}}">{{project.name_project}}</option>
		{% endfor %}
	</select>
</div>
</div>
{% endif %}
<div class='row change''>
	<div class='col-md-3 col-xs-10'>
    <p>Логин</p>
	</div>
	<div class='col-md-3 col-xs-10'>
    <input type="text" name="unit_user" value="{{ staff.unit_user.username}}" readonly>
  </div>
</div>
<div class='row change''>
	<div class='col-md-3 col-xs-10'>
    <p>Пароль</p>
	</div>
	<div class='col-md-3 col-xs-10'>
    <input  type="password"  name="unit_password" value="{{ staff.copy_password}}" id="unit_password">
  </div>
</div>
<div class='row change''>
<div class='col-md-1 col-xs-3 col-md-offset-3'>
	<input type="checkbox" id='show_password' name='show_password' onclick="myFunction()">
</div>
<div class='col-md-3 col-xs-7'>
		<label for='show_password'>Показать пароль</label>
</div>
</div>
<div class='row change'>
	<div class='col-md-3 col-xs-10'>
  <button type="submit" class="btn btn-primary" name='save'>Сохранить</button>
	</div>
	<div class='col-md-3 col-xs-10'>
  <button type="submit" class="btn btn-primary" name='del' id = 'del'>Удалить работника</button>
</div>
</div>

<!-- Скрытие обработанных смен
<h2>Отработанные смены</h2>

<table id="graf" class="table">
    <thead>

     <tr>
       <td>Дата</td>
       <td>Название проекта</td>
       <td>Начал работать</td>
       <td>Закончил работать</td>
       <td>Количество отработанных часов</td>
      </tr>
      </thead>
      <tbody>
         {% for date in graphik  %}
        <tr>
          <td><a href='/admin/managing/graphik/{{date.id}}/change/'>{{ date.work_date }}</a></td>
          <td>{{ date.name_project }} </td>
          <td>{{ date.start_work }}</td>
          <td>{{ date.stop_work }}</td>
          <td>{{ date.unit_hours_day_amount }}</td>
        </tr>
{% endfor %}

</tbody>
</table> -->

</form>
<script>
	function myFunction() {

		var x = $('#unit_password');

		if (x[0].type === "password") {
			x[0].type = 'text';

		} else {
				x[0].type = 'password';
			}
	}
</script>
{% endblock %}
