{% extends "managing/base.html" %}


{% block h1 %}
<div class='col-md-12'>
<a href='/managing/staff_list/' class="btn btn-secondary" id='back' role="button">Вернуться назад</a>
</div>

<div class="col-md-4">
	<h1>Новый работник</h1>
	</div>

{% endblock %}
{%block content %}
{%if message%}
<div class='col-md-12'>
<p id='message'>{{ message }}</p>
</div>
{%endif%}
<form action='' method='post'>
      {% csrf_token %}
<div class='row change'>
	<div class='col-md-3 col-xs-10'>
		<p>ФИО</p>
	</div>
	<div class='col-md-3 col-xs-10'>
    <input type="text" name="unit_name" value="{{ unit_name }}">
  </div>
</div>
<div class='row change'>
	<div class='col-md-3 col-xs-10'>
    <p>Должность</p>
	</div>
	<div class='col-md-3 col-xs-10'>
    <input type="text" name="unit_position" value="{{ unit_position }}">
  </div>
</div>
<div class='row change'>
	<div class='col-md-3 col-xs-10'>
    <p>Ставка</p>
	</div>
	<div class='col-md-3 col-xs-10'>
    <input type="text" name="unit_salary" value="{{ unit_salary }}">
	</div>
	{%if message_salary %}
	<div class='col-md-12'>
	<p id='message'>{{ message_salary }}</p>
	</div>
	{%endif%}
</div>
<div class='row change'>
	<div class='col-md-3 col-xs-10'>
    <p>Месячная заработная плата</p>
	</div>
	<div class='col-md-3 col-xs-10'>
    <input type="text" name="unit_mounth_salary" value="{{ unit_mounth_salary }}">
	</div>
	{%if message_msalary %}
	<div class='col-md-12'>
	<p id='message'>{{ message_msalary }}</p>
	</div>
	{%endif%}
</div>
<div class='row change''>
	<div class='col-md-3 col-xs-10'>
    <p>Логин</p>
	</div>
	<div class='col-md-3 col-xs-10'>
    <input type="text" name="unit_user" value="{{ username }}">
  </div>
	{%if message_username %}
	<div class='col-md-12'>
	<p id='message'>{{ message_username}}</p>
	</div>
	{%endif%}
</div>
<div class='row change''>
	<div class='col-md-3 col-xs-10'>
    <p>Пароль</p>
	</div>
	<div class='col-md-3 col-xs-10'>
    <input  type="password"  name="unit_password" id='unit_password' value='{{ genpass }}'>
  </div>
	<div class='col-md-1 col-xs-10'>
		<button type="submit" class="btn" name="generate" id="generate">
		 <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></button>
  </div>
</div>
<div class='row change''>
<div class='col-md-1 col-xs-3 col-md-offset-3'>
	<input type="checkbox" id='show_password' name='show_password' onclick="myFunction()">
</div>
<div class='col-md-3 col-xs-7'>
		<label for='show_password'>Показать пароль</label>
</div>
</div>
<div class='row change'>
	<div class='col-md-3 col-xs-10'>
  <button type="submit" class="btn btn-primary" name="save">Сохранить</button>
</div>
</div>
</form>
<script>
	function myFunction() {

		var x = $('#unit_password');
		if (x[0].type === "password") {
			x[0].type = 'text';

		} else {
				x[0].type = 'password';
			}
	}
</script>

{% endblock %}
