{% extends "managing/base.html" %}
{% block h1 %}


{% endblock %}
{% block nav %}
-
{% endblock %}

{%block content %}
<table id="example" class="table   table-striped display nowrap">
    <thead>
			<tr>
				<td>ФИО</td>
				<td>{{staff.unit_name}}</td>
			</tr>
      <tr>
        <td>Должность</td>
        <td>{{ staff.unit_position}}</td>
      </tr>
      <tr>
        <td>Ставка</td>
        <td>{{ staff.unit_salary}}</td>
      </tr>
      <tr>
        <td>Login</td>
        <td>{{ staff.unit_user}}</td>
      </tr>
    </thead>
  </table>

	<div>
	<a href='/managing/{{staff.id}}/staff_detail/report/' class="btn btn-info" id='to_report' role="button"> Просмотреть историю рабочих дней</a>
	</div>

	{% if active_project %}
  <form action='' method="post">
	{% csrf_token %}
  <table id="example" class="table table-striped">
      <thead>
        <tr>
          <td>Текущий проект</td>
          <td name="{{ active_project.name_project }}">{{ active_project.name_project }}</td>
          <td></td>
        </tr>

        <tr>
          <td>Кол-во часов отработанных на проекте</td>
					{% if graphiks_all.total  %}
							<td>{{ graphiks_all.total }}</td>
					{% else %}
							<td>0.0</td>
					{% endif %}<!-- ADD DATA -->
					    <td></td>
        </tr>
				<tr>
					<td>Адрес объекта</td>
					<td name="{{ active_project.address_object }}">{{ active_project.address_object }}</td>
					<td></td>
				</tr>
				<tr>
					<td>Часы работы объекта</td>
					<td name="time working">С {{ pstart_time }} до {{ pend_time }}</td>
					<td></td>
				</tr>
        <tr>
            <td>Кол-во часов за день</td>
						{% if graphiks_day.total  %}
								<td>{{ graphiks_day.total }}</td>
						{% else %}
								<td>0.0</td>
						{% endif %}
            <td></td>
        </tr>
          {% if not active_session %}
          <tr>
						{% if etime %}
						<td>Время окончания рабочей смены</td>
						{% else %}
            <td>Начать рабочий день</td>
						{% endif %}
						{% if wtime %}
				        <td type="time">{{ etime }}</td>
						{% else %}
						    <td> - </td>
						{% endif %}
					</tr>
					<tr>
            <td><button class='btn' type="submit" name="start" type="submit" id='start' >Начать</button></td>
					  <td>{{ error_answer }}</td>
						<td></td>
					</tr>
				  {% endif %}
					{% if active_session %}
          <tr>
              <td>Время начала рабочей смены</td>
					    <td type="time">{{ start_active }}</td>
							<td></td>
					</tr>

					<tr>
            <td><button class='btn' type="submit" name="end" type="submit" id='end'>Завершить</button></td>
						<td></td>
						<td></td>
          </tr>
					{% endif %}


      </thead>

    </table>
    </form>
		{% endif %}

{% endblock %}
