{% extends "managing/base.html" %}


{% block h1 %}
<div class="col-md-4">
	<h1>Работник {{ staff.unit_name }}</h1>
	</div>

{% endblock %}
{%block content %}
<table id="example" class="table">
    <thead class='staff_detail'>
      <tr>

        <td>ФИО</td>
        <td>{{ staff.unit_name}}</td>
      </tr>
      <tr>
        <td>Должность</td>
        <td>{{ staff.unit_position}}</td>
      </tr>
      <tr>
        <td>Ставка</td>
        <td>{{ staff.unit_salary}}</td>
      </tr>
      <tr>
        <td>Кол-во отработанных часов</td>
        <td>{{ staff.unit_hours_amount}}</td>
      </tr>
      <tr>
        <td>Статус </td>
        <td>{{ staff.unit_status}}</td>
      </tr>
      <tr>
        <td>Login</td>
        <td>{{ staff.unit_user}}</td>
      </tr>


    </thead>

  </table>

<h2>График работы</h2>

<table id="graf" class="table">
    <thead>

     <tr>
       <td>Дата</td>
       <td>Название проекта</td>
       <td>Начал работать</td>
       <td>Закончил работать</td>
       <td>Количество отработанных часов</td>
      </tr>
      </thead>
      <tbody>
         {% for date in graphik  %}
        <tr>
          <td><a href='/admin/managing/graphik/{{date.id}}/change/'>{{ date.work_date }}</a></td>
          <td>{{ date.name_project }} </td>
          <td>{{ date.start_work }}</td>
          <td>{{ date.stop_work }}</td>
          <td>{{ date.unit_hours_day_amount }}</td>
        </tr>
{% endfor %}

</tbody>
</table>


{% endblock %}
